.contact-form{
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #f1f2f4;
    background: #ffffff;
    padding-bottom: 20px;

    .input{
    	margin-left: 0px;
    	margin-right: 0px;
    }

    input{
    	width: 90%;
    }
    textarea{
    	height: 90px;
    	margin-bottom: 20px;
    }
    label{
    	font-size: 18px !important;
    	display: block;
    	margin-top: 20px;
    	line-height: 26px;
    }
    .btn-blue{
    	height: 40px;
    }
}