$news-padding: 22px;

.front-page-news-block{
    margin-left: $padding;
    margin-right: $padding;
    position: relative;
    margin-bottom: 70px;
}

.section-title{
    font-size: $section-title;
    margin-top: 46px;
    margin-left: -2px;
    margin-bottom: 45px;
    font-weight: normal;
    font-family: Roboto Bold;
}

.daily-news{

    .all-news{
    	position: absolute;
	    right: 0px;
	    top: 20px;
	    font-size: 14px;
	    text-decoration: none;
	    cursor: pointer;
	    color: black;
    }

    img{
    	max-width: 100%;
	    height: 198px;
	    width: 100%;
    }

    .news-item{
        background: $primary;
        height: 342px;
    }

    .news-content-container{
        padding: $news-padding;

        .title{
            margin-top: 20px;
            font-family: Roboto Bold;
        }
    }
}



.latest-news{
    .news-col{
        background: $primary;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
    }
    .news-item{
        padding-top: $news-padding;
        padding-bottom: $news-padding;
        border-top: 1px solid $borders;
        border-bottom: 1px solid $borders;
        margin-top: -1px;

        img{
            width: 100px;
            height: 80px;
            float: left;
        }

        .title{
            font-size: 14px;
            margin-top: 10px;
        }
    }

    .news-content-container{
        float:left;
        padding-left: 15px;
    }
}

.icon{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    margin: 0 auto;
}
.media-block{
    background: $primary;
    text-align: center;
    padding: 15px;
    font-size: 17px;
    font-family: Roboto Black;
    margin-bottom: 12px;
}
.photo{
    background: url('../images/photo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
    background-color: $borders;
}
.video{
    background: url('../images/video.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
    background-color: $borders;   
}

.anounces{
    .anounce-item{
        padding: $news-padding;
        background: $primary;
        position: relative;
        padding-bottom: 40px;
        margin-bottom: $news-padding;

        .date{
            margin-top: 15px;
            position: absolute;
            bottom: 15px;
        }

        .title{
            font-size: 14px;
        }
    }
}