$header-height: 85px;
$header-top-space: 20px;

.header{
	height:$header-height;
	border-bottom: 1px solid $borders;

	.logo{
		height: 85px;
    	width: 254px;
    	border-right: 1px solid $borders;
	}

	.logo-wrapper{
 		line-height: 0px !important;
	}

	.header-blocks>*{
		padding-left: $padding;
		float: left;
    	line-height: $header-height;
	}

	.header-blocks.left div{
		width:170px;
	}

	.contact-us-btn{
		display: block;
	    line-height: 39px;
	    margin-top: 22px;
	    margin-bottom: $header-top-space;
	    text-align: center;
	    border: 1px solid #929292;
	    cursor: pointer;
	    color: $fonts;
	    text-decoration: none;
	    font-size: 13px;
	}

	.hot-line{
		padding-top: $header-top-space;
		line-height: initial;

		.label{
			color: $secondary-fonts;
			font-size: 13px;
		}

		.value{
			color: $fonts;
		    font-family: Roboto Black;
		    font-size: 18px;
		}
	}

	.header-blocks.right{
		padding-right: $padding;
		float: right;
	}

	.language-switcher{
		font-size: 13px;

		input{
			border: 0px;
    		background: none;
		}
	}

	.language-switcher span input{
		color: $secondary-fonts;
		cursor: pointer;
	}
	.language-switcher span.active input{
		color: $links;
	}

	.searсh-icon-container{
		cursor: pointer;
		border-right: 1px solid $borders;
		border-left: 1px solid $borders;
	}
	.searсh-icon-container:hover{
		background: $borders;
	}
	.search-icon{
		height: 100%;
	    width: 25px;
	    background: url(../images/search.svg);
	    background-repeat: no-repeat;
	    background-position: center;
	    padding: 0px;
	    margin-left: 7px;
	    margin-right: 37px;
	}
}
