@import "reset.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "fonts/roboto-bold.scss";
@import "fonts/roboto-black.scss";
@import "fonts/roboto-light.scss";

$primary: #ffffff;
$borders: #f1f2f4;
$fonts: #030104;
$secondary-fonts: #8d9499;
$links: #0b7dbc;

$padding: 30px;
$padding-responsive: 20px;
$menu-width: 285px;
$menu-item-height: 58px;

$section-title:34px;

$news-right-margin: 16px;

.clearfix{
	display: block;
    content: "";
    clear: both;
}

a{
	color: $fonts;
	text-decoration: none;
}
a:hover{
	color: $links;
	text-decoration: underline;
}
.middle-container{
	display: flex;
}
.content{
	width:100%;
	background: $borders;
    /*max-width: 1030px;*/
}
.cols{
	display: flex;

    .col-1-1{
        width: 100%;
    }

	.col-1-2{
		width: 50%;
	}

	.col-1-3{
		width: 31%;
	}

	.col-2-3{
		width: 68%;
	}

	.margin-right{
        margin-right: $news-right-margin;
    }
}

.btn-blue{
    padding-right: $padding;
    background: $links;
    color: $primary;
    text-align: center;
    padding-left: $padding;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.date{
    padding-left: 26px;
    background: url('../images/small-calendar.svg');
    background-repeat: no-repeat;
    font-size: 13px;
    margin-left: 3px;
    margin-top: 4px; 
    color: $secondary-fonts;
    line-height: 13px;
}

.text-grey{
    color: $secondary-fonts;
}

.main-content{
    margin-left: $padding;
    margin-right: $padding;

    h1.section-title{
        margin-top: -4px;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 24px;
    }

    .date{
        margin-left: $padding;
    }
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.input{
    height: 36px;
    margin: 0px;
    border: 1px solid #f1f2f4;
    margin: 4px;
    font-size: 16px;
    color: #8d9499;
    width: 100%;
}

@import "header.scss";
@import "menu.scss";
@import "slider.scss";
@import "frontpage-news.scss";
@import "news.scss";
@import "body.scss";
@import "search.scss";
@import "pagination.scss";
@import "radio.scss";
@import "gallery.scss";
@import "contact-form.scss";

@import "responsive.scss";
