
.menu{
    min-width: $menu-width - 1px;
    border-right: 1px solid $borders;
    height: 100vh;

    ul{
    	padding: 0px;
    	margin: 0px;

    	li{
    		list-style: none;
	    	padding-left: $padding;
	    	//height: $menu-item-height;
	    	line-height: $menu-item-height;
	    	//border-bottom: 1px solid $borders;
    	}

    	li:hover{
    		cursor: pointer;
    	}

    	li.highlight{
    		background: url('../images/bg.png');
    		background-repeat-y: no-repeat;
    	}

    	li>a, li>span{
	    	display: inline-block;
	    	vertical-align: middle;
	    	line-height: normal;
	    	text-decoration: none;
	    	color: $fonts;
	    	max-width: 210px;
	    	font-size: 14px;
	    }

	    li .arrow{
	    	float: right;
		    display: inline;
		    line-height: $menu-item-height;
		    margin-right: 15px;
		    padding-left: 20px;
		    background: url(../images/right_arrow.svg);
		    background-repeat: no-repeat;
		    background-position: center;
	    }

	    li > ul {
	    	margin-left: -$padding;
	    }
	}
}

.menu > ul ul {
	display: none;
}