.breadcrumbs{
    padding-left: $padding;
    height: $menu-item-height;
    line-height: $menu-item-height;
    border-bottom: 1px solid $borders;
    background: $primary;
    margin-bottom: 46px;

    li{
        display: block;
        float: left;
        font-size: 12px;
        padding-right: 25px;
        background: url(../images/right_arrow.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 24px;
    }
    li.active{
        background: none;
    }
    li a{
        color: $secondary-fonts;
    }
    li.active a{
        color: $fonts;
        background: none;
    }
}

.article{ 

    margin-left: $padding;
    margin-right: $padding;

    h1.section-title{
        margin-top: -4px;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 24px;
    }

    .date{
        margin-left: $padding;
    }

    .article-text{
        margin-top: 50px;

        img{
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;

        }

        *{
            font-size: 15px;
        }

        p{
            margin-bottom: 24px;
            text-align: justify;
        }

        b{
            font-weight: bold;
        }

        blockquote{
            font-size: 20px;
            font-family: Roboto Bold;
            background: white;
            text-align: center;
            padding-top: 70px;
            padding-bottom: 70px;
            padding-left: 100px;
            padding-right: 100px;
            position: relative;
            margin-bottom: 24px;

            .quote{
                font-size: 150px;
                color: $borders;
                position: absolute;
            }

            .right.quote{
                right: 30px;
                bottom: -65px;
            }

            .left.quote{
                left: 30px;
                top: 15px;
            }
        }
    }
}


.disquss-container{
    margin-top: 60px;
    border-top: 1px solid #e9e8e8;
    border-bottom: 1px solid #e9e8e8;
    padding-bottom: 30px;
}
.inner-disquss-container{
    margin-left: $padding;
    margin-right: $padding;
}

.article-right-column .section-title{
    margin-left: 0px;
    font-size: 22px;
    margin-bottom: 22px;
    margin-top: 22px;
}
.article-right-column.latest-news .news-content-container{
  width: 62%;
  line-height: 1em; 
}
