ul.pagination{
	li{
		float: left;
    	height: 36px;
    	min-width: 40px;
    	text-align: center;
    	line-height: 36px;
    	font-size: 14px;
    	font-family: Roboto;
    	border: 1px solid #d6d6d6;
    	background: $primary;
    	margin-left: -1px;
	}

	li a{
		display: block;
	}

	li:hover{
		background: $borders;
	}

	li.active{
		background: $links;
	}

	li.active a{
		color: $primary;
	}

	li.last{
		border-top-right-radius: 4px;
    	border-bottom-right-radius: 4px;
	}

	li.first{
		border-top-left-radius: 4px;
    	border-bottom-left-radius: 4px;
	}
}