@media screen and (max-width: 1366px) {
	.daily-news .news-item:nth-child(3){
	    display: none;
	}
}
@media screen and (min-width: 1366px) {
	.daily-news .news-item:nth-child(2){
	    margin-right: $news-right-margin;
	}
}

@media screen and (max-width: 1240px) {
	.article-right-column.latest-news .news-content-container{
		width:100%;
		float:none; 
	}
  	.article-right-column.latest-news .news-item img{
	    margin: 0 auto;
	    margin-bottom: 10px;
	    float: none;
	    display: block; 
  	}
	
	.header .header-blocks.left div{
		display: none;
	}
	
	// maybe aplly on small devices only
	.menu{
		display: none;
	}
	// show in menu
	.language-switcher{
		display: none;
	}
	
	.header .header-blocks.right {
		padding-right: 0px;
		float: none;
	}
	
	.header{
		display: flex;
		justify-content: space-between;
	}
	
	.slider{
		display: none;
	}
	
	.cols{
		flex-direction: column;
	}
	
	.daily-news .news-item{
		height: auto;
	}	
	
	.cols .col-1-2{
		margin-bottom: 20px;
	}
	
	.cols .col-1-3, .cols .col-2-3, .cols .col-1-2{
		width: 100%;
	}
	.latest-news .news-col{
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.latest-news .news-col > * {
		margin-left: 25px;
		margin-right: 25px;
	}
	
	.latest-news .news-col > .btn-blue{
		display: block;
	}
	
	.media-block{
		margin-top: 12px;
	}
	
	.anounces .anounce-item{
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.anounces .anounce-item > *{
		margin-left: 25px;
		margin-right: 25px;
	}
	
	.header .logo{
		max-width: 100%;
		padding-left: 10px;
		border: none;
	}
	
	.header-blocks.left{
		max-width: calc(100% - 101px);
	}
	
	.daily-news .all-news{
		position: relative;
		top: -15px;
	}
	
	.daily-news .news-content-container .title{
		word-break: break-word;
	}
	
	.front-page-news-block{
		margin-bottom: 15px;
	}
	.section-title{
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	.latest-news .news-item img{
		width: 100%;
	}
	
	.latest-news .news-content-container{
		padding-left: 0px;
		width: 100%;
	}
	
	.article-right-column > *{
		margin-right: 30px;
		margin-left: 30px !important;
	}
	
	.contact-form .btn-blue{
		width: 100%;
	}
	
	.document-footer .read-document{
		display: block;
		text-align: center;
	}
	
	.document-footer .download-document{
		display: block;
		text-align: center;
		background: none;
		margin-left: 0px;
		margin-top: 5px;
		border: 1px solid black;
	}
	
	.document-footer .date {
		width: 100%;
		text-align: left;
		float: left;
	}
	
	.document-footer .document-number{
		float: left;
		margin-right: 0px;
		text-align: justify;
	}
	
	.search-result.gallery .gallery-content .credentials{
		position: initial;
	}
	
	.article .article-text blockquote .quote{
		display: none;
	}
	
	.article .article-text blockquote{
		padding: 20px;
	}
	
	.search-form .input-group{
		flex-direction: column;
	}
	
	.search-form .input-group > *{
		width: 100%;
	}
	
	.search-form button{
		margin: 0px;
	}
	
	.date-picker-x-container{
		position: initial;
	}
	
	.date-picker-x.active{
		left: 0px;
	}
	
	.date-picker-x::before{
		display: none;
	}
}
