.search-form{
	margin-top: 28px;
    padding-left: $padding-responsive;
    padding-right: $padding-responsive;
    border: 1px solid $borders;
    background: $primary;
    padding-top: 40px;

    .input-group{
    	display: flex;
    }

    b{
        font-family: 'Roboto Black';
    }

    .search-inputs-group{
    	padding-top: 28px;
    	margin-left: -1px;
    	padding-bottom: 20px;
    	border-bottom: 1px solid $borders;
    	line-height: 38px;

    	label{
    		margin-left: 17px;
    		margin-right: 22px;
    	}

    	input{
    		margin-right: 12px;
    	}
    }

    .search-phrase{
    	float: left;
    	width: 85%;
    	margin: 0px !important;
    }

    .search-input{
    	height: 36px;
    	margin: 0px;
    	border: 1px solid $borders;
    	padding-left: 4px;
    	font-size: 16px;
    	color: $secondary-fonts;
    }

    button{
    	height: 40px;
	    width: 14%;
	    margin: 0px;
	    margin-left: -1px;
	    border: none;
	    cursor: pointer;
	    padding: 0px;
    	text-align: center;
        vertical-align: top;
    }
}

.search-results-count{
	margin-top: 47px;
	margin-bottom: 45px;
	.number{
		color: $links;
		font-family: Roboto Black;
	}
}

.search-result{
    padding-left: 24px;
    padding-right: 24px;
    background: $primary;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 18px;
    margin-bottom: 16px;

    a.title{
        color: $links;
    }

    p{
        font-size: 13px;
        margin-top: 13px;
        line-height: 16px;
    }

    hr{
        margin-top: 25px;
        margin-bottom: 18px;
    }

    .date{
        margin-left: 0px;
    }

    img{
        max-width: 100%;
    }
}

// classes for documents search
.search-form.documents{
    padding-bottom: 25px;
    button{
        width: 120px;
        float: right;
    }
    .search-input.datepicker{
        max-width: 85px;
    }
}
.document-footer{
    .date{
        float: right;
    }
    .document-number{
        font-size: 13px;
        float: right;
        margin-right: 30px;
        margin-top: 4px;
    }
    .read-document{
        border: 1px solid $links;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 13px;
    }
    .read-document:hover{
        background: $borders;
        text-decoration: none;
    }
    .download-document{
        padding: 5px;
        padding-left: 20px;
        font-size: 13px;
        padding-right: 20px;
        background: url(../images/download.svg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: 13px;
        margin-left: 20px;
    }
}

.search-result.gallery{
    .gallery-content{
        padding-left: 10px;
        padding-right: 10px;
        position: relative;

        .metadata{
            .camera-icon{
                width: 16px;
                margin-top: 1px;
            }
        }

        .metadata > * {
            float: left;
            font-size: 13px;
            margin-top: 3px;
            line-height: 13px;
            margin-right: 8px;
            color: $secondary-fonts;
        }

        a.title{
            display: block;
            margin-top: 20px;
        }

        .credentials{
            font-size: 13px;
            color: $secondary-fonts;
            position: absolute;
            bottom: 10px;
        }
    }
}