.slider{

	position: relative;

	.slides{
		margin: 0px;
    	padding: 0px;

    	.slide{
    		height:440px;
			background-repeat: no-repeat !important;
			background-position: center !important;
			background-size: cover !important;
			list-style: none;
			display: none;

			.content{

			    position: absolute;
    			top: 50%;
    			margin-top: -50px;
    			margin-left: 128px;
    			margin-right: 128px;
    			width: auto;
    			background: none;

				p{
					font-size: 28px;
				    color: $primary;
				    font-family: Roboto Black;
				    margin-top: 30px;
				}
			}
    	}
    	.slide.active{
    		display: block;
    	}
	}

	.controls{
		position: absolute;
    	top: 50%;
    	width: 100%;

    	.arrow{
		    height: 35px;
		    width: 35px;
		    margin-top: -23px;
		    cursor: pointer;
    	}
    	.left.arrow{
    		float:left;
    		margin-left: $padding;
		    background: url('../images/left_arrow_slider.svg');
    	}

    	.right.arrow{
    		float:right;
    		margin-right: $padding;
		    background: url('../images/right_arrow_slider.svg');
    	}
	}

	.date{
		margin-left: 25px;
		color:$primary;
	}

	.description{
		position: absolute;
	    bottom: 0px;
	    line-height: 70px;
	    background: white;
	    width: 100%;
	    text-align: center;
	    color: $secondary-fonts;
	}
}