@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v18/77FXFjRbGzN4aCrSFhlh3hJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

/* cyrillic */
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v18/isZ-wbCXNKAbnjo6_TwHThJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v18/UX6i4JxQDm3fVTc1CPuwqhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v18/jSN2CGVDbcVyCnfJfjSdfBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v18/PwZc-YbIL414wB9rB1IAPRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v18/97uahxiqZRoncBaCEI3aWxJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v18/s7gftie1JANC-QmDJvMWZhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

/* cyrillic */
@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v18/3Y_xCyt7TNunMGg0Et2pnhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v18/WeQRRE07FDkIrr29oHQgHBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v18/jyIYROCkJM3gZ4KV00YXOBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v18/phsu-QZXz1JBv0PbFoPmEBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v18/9_7S_tWeGDh5Pq3u05RVkhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v18/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v18/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

/* cyrillic */
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v18/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v18/-L14Jk06m6pUHB-5mXQQnRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v18/I3S1wsgSg9YCurV6PUkTORJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v18/NYDWBdD4gIq26G5XYbHsFBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v18/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

.clearfix {
  display: block;
  content: "";
  clear: both; }

a {
  color: #030104;
  text-decoration: none; }

a:hover {
  color: #0b7dbc;
  text-decoration: underline; }

.middle-container {
  display: flex; }

.content {
  width: 100%;
  background: #f1f2f4;
  /*max-width: 1030px;*/ }

.cols {
  display: flex; }
  .cols .col-1-1 {
    width: 100%; }
  .cols .col-1-2 {
    width: 50%; }
  .cols .col-1-3 {
    width: 31%; }
  .cols .col-2-3 {
    width: 68%; }
  .cols .margin-right {
    margin-right: 16px; }

.btn-blue {
  padding-right: 30px;
  background: #0b7dbc;
  color: #ffffff;
  text-align: center;
  padding-left: 30px;
  text-decoration: none;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 12px;
  border: none;
  cursor: pointer; }

.date {
  padding-left: 26px;
  background: url("../images/small-calendar.svg");
  background-repeat: no-repeat;
  font-size: 13px;
  margin-left: 3px;
  margin-top: 4px;
  color: #8d9499;
  line-height: 13px; }

.text-grey {
  color: #8d9499; }

.main-content {
  margin-left: 30px;
  margin-right: 30px; }
  .main-content h1.section-title {
    margin-top: -4px;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 24px; }
  .main-content .date {
    margin-left: 30px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.input {
  height: 36px;
  margin: 0px;
  border: 1px solid #f1f2f4;
  margin: 4px;
  font-size: 16px;
  color: #8d9499;
  width: 100%; }

.header {
  height: 85px;
  border-bottom: 1px solid #f1f2f4; }
  .header .logo {
    height: 85px;
    width: 254px;
    border-right: 1px solid #f1f2f4; }
  .header .logo-wrapper {
    line-height: 0px !important; }
  .header .header-blocks > * {
    padding-left: 30px;
    float: left;
    line-height: 85px; }
  .header .header-blocks.left div {
    width: 170px; }
  .header .contact-us-btn {
    display: block;
    line-height: 39px;
    margin-top: 22px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #929292;
    cursor: pointer;
    color: #030104;
    text-decoration: none;
    font-size: 13px; }
  .header .hot-line {
    padding-top: 20px;
    line-height: initial; }
    .header .hot-line .label {
      color: #8d9499;
      font-size: 13px; }
    .header .hot-line .value {
      color: #030104;
      font-family: Roboto Black;
      font-size: 18px; }
  .header .header-blocks.right {
    padding-right: 30px;
    float: right; }
  .header .language-switcher {
    font-size: 13px; }
    .header .language-switcher input {
      border: 0px;
      background: none; }
  .header .language-switcher span input {
    color: #8d9499;
    cursor: pointer; }
  .header .language-switcher span.active input {
    color: #0b7dbc; }
  .header .searсh-icon-container {
    cursor: pointer;
    border-right: 1px solid #f1f2f4;
    border-left: 1px solid #f1f2f4; }
  .header .searсh-icon-container:hover {
    background: #f1f2f4; }
  .header .search-icon {
    height: 100%;
    width: 25px;
    background: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    margin-left: 7px;
    margin-right: 37px; }

.menu {
  min-width: 284px;
  border-right: 1px solid #f1f2f4;
  height: 100vh; }
  .menu ul {
    padding: 0px;
    margin: 0px; }
    .menu ul li {
      list-style: none;
      padding-left: 30px;
      line-height: 58px; }
    .menu ul li:hover {
      cursor: pointer; }
    .menu ul li.highlight {
      background: url("../images/bg.png");
      background-repeat-y: no-repeat; }
    .menu ul li > a, .menu ul li > span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      text-decoration: none;
      color: #030104;
      max-width: 210px;
      font-size: 14px; }
    .menu ul li .arrow {
      float: right;
      display: inline;
      line-height: 58px;
      margin-right: 15px;
      padding-left: 20px;
      background: url(../images/right_arrow.svg);
      background-repeat: no-repeat;
      background-position: center; }
    .menu ul li > ul {
      margin-left: -30px; }

.menu > ul ul {
  display: none; }

.slider {
  position: relative; }
  .slider .slides {
    margin: 0px;
    padding: 0px; }
    .slider .slides .slide {
      height: 440px;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;
      list-style: none;
      display: none; }
      .slider .slides .slide .content {
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 128px;
        margin-right: 128px;
        width: auto;
        background: none; }
        .slider .slides .slide .content p {
          font-size: 28px;
          color: #ffffff;
          font-family: Roboto Black;
          margin-top: 30px; }
    .slider .slides .slide.active {
      display: block; }
  .slider .controls {
    position: absolute;
    top: 50%;
    width: 100%; }
    .slider .controls .arrow {
      height: 35px;
      width: 35px;
      margin-top: -23px;
      cursor: pointer; }
    .slider .controls .left.arrow {
      float: left;
      margin-left: 30px;
      background: url("../images/left_arrow_slider.svg"); }
    .slider .controls .right.arrow {
      float: right;
      margin-right: 30px;
      background: url("../images/right_arrow_slider.svg"); }
  .slider .date {
    margin-left: 25px;
    color: #ffffff; }
  .slider .description {
    position: absolute;
    bottom: 0px;
    line-height: 70px;
    background: white;
    width: 100%;
    text-align: center;
    color: #8d9499; }

.front-page-news-block {
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  margin-bottom: 70px; }

.section-title {
  font-size: 34px;
  margin-top: 46px;
  margin-left: -2px;
  margin-bottom: 45px;
  font-weight: normal;
  font-family: Roboto Bold; }

.daily-news .all-news {
  position: absolute;
  right: 0px;
  top: 20px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: black; }

.daily-news img {
  max-width: 100%;
  height: 198px;
  width: 100%; }

.daily-news .news-item {
  background: #ffffff;
  height: 342px; }

.daily-news .news-content-container {
  padding: 22px; }
  .daily-news .news-content-container .title {
    margin-top: 20px;
    font-family: Roboto Bold; }

.latest-news .news-col {
  background: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px; }

.latest-news .news-item {
  padding-top: 22px;
  padding-bottom: 22px;
  border-top: 1px solid #f1f2f4;
  border-bottom: 1px solid #f1f2f4;
  margin-top: -1px; }
  .latest-news .news-item img {
    width: 100px;
    height: 80px;
    float: left; }
  .latest-news .news-item .title {
    font-size: 14px;
    margin-top: 10px; }

.latest-news .news-content-container {
  float: left;
  padding-left: 15px; }

.icon {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin: 0 auto; }

.media-block {
  background: #ffffff;
  text-align: center;
  padding: 15px;
  font-size: 17px;
  font-family: Roboto Black;
  margin-bottom: 12px; }

.photo {
  background: url("../images/photo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px;
  background-color: #f1f2f4; }

.video {
  background: url("../images/video.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px;
  background-color: #f1f2f4; }

.anounces .anounce-item {
  padding: 22px;
  background: #ffffff;
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 22px; }
  .anounces .anounce-item .date {
    margin-top: 15px;
    position: absolute;
    bottom: 15px; }
  .anounces .anounce-item .title {
    font-size: 14px; }

.breadcrumbs {
  padding-left: 30px;
  height: 58px;
  line-height: 58px;
  border-bottom: 1px solid #f1f2f4;
  background: #ffffff;
  margin-bottom: 46px; }
  .breadcrumbs li {
    display: block;
    float: left;
    font-size: 12px;
    padding-right: 25px;
    background: url(../images/right_arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 24px; }
  .breadcrumbs li.active {
    background: none; }
  .breadcrumbs li a {
    color: #8d9499; }
  .breadcrumbs li.active a {
    color: #030104;
    background: none; }

.article {
  margin-left: 30px;
  margin-right: 30px; }
  .article h1.section-title {
    margin-top: -4px;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 24px; }
  .article .date {
    margin-left: 30px; }
  .article .article-text {
    margin-top: 50px; }
    .article .article-text img {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px; }
    .article .article-text * {
      font-size: 15px; }
    .article .article-text p {
      margin-bottom: 24px;
      text-align: justify; }
    .article .article-text b {
      font-weight: bold; }
    .article .article-text blockquote {
      font-size: 20px;
      font-family: Roboto Bold;
      background: white;
      text-align: center;
      padding-top: 70px;
      padding-bottom: 70px;
      padding-left: 100px;
      padding-right: 100px;
      position: relative;
      margin-bottom: 24px; }
      .article .article-text blockquote .quote {
        font-size: 150px;
        color: #f1f2f4;
        position: absolute; }
      .article .article-text blockquote .right.quote {
        right: 30px;
        bottom: -65px; }
      .article .article-text blockquote .left.quote {
        left: 30px;
        top: 15px; }

.disquss-container {
  margin-top: 60px;
  border-top: 1px solid #e9e8e8;
  border-bottom: 1px solid #e9e8e8;
  padding-bottom: 30px; }

.inner-disquss-container {
  margin-left: 30px;
  margin-right: 30px; }

.article-right-column .section-title {
  margin-left: 0px;
  font-size: 22px;
  margin-bottom: 22px;
  margin-top: 22px; }

.article-right-column.latest-news .news-content-container {
  width: 62%;
  line-height: 1em; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

.search-form {
  margin-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #f1f2f4;
  background: #ffffff;
  padding-top: 40px; }
  .search-form .input-group {
    display: flex; }
  .search-form b {
    font-family: 'Roboto Black'; }
  .search-form .search-inputs-group {
    padding-top: 28px;
    margin-left: -1px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f1f2f4;
    line-height: 38px; }
    .search-form .search-inputs-group label {
      margin-left: 17px;
      margin-right: 22px; }
    .search-form .search-inputs-group input {
      margin-right: 12px; }
  .search-form .search-phrase {
    float: left;
    width: 85%;
    margin: 0px !important; }
  .search-form .search-input {
    height: 36px;
    margin: 0px;
    border: 1px solid #f1f2f4;
    padding-left: 4px;
    font-size: 16px;
    color: #8d9499; }
  .search-form button {
    height: 40px;
    width: 14%;
    margin: 0px;
    margin-left: -1px;
    border: none;
    cursor: pointer;
    padding: 0px;
    text-align: center;
    vertical-align: top; }

.search-results-count {
  margin-top: 47px;
  margin-bottom: 45px; }
  .search-results-count .number {
    color: #0b7dbc;
    font-family: Roboto Black; }

.search-result {
  padding-left: 24px;
  padding-right: 24px;
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 18px;
  margin-bottom: 16px; }
  .search-result a.title {
    color: #0b7dbc; }
  .search-result p {
    font-size: 13px;
    margin-top: 13px;
    line-height: 16px; }
  .search-result hr {
    margin-top: 25px;
    margin-bottom: 18px; }
  .search-result .date {
    margin-left: 0px; }
  .search-result img {
    max-width: 100%; }

.search-form.documents {
  padding-bottom: 25px; }
  .search-form.documents button {
    width: 120px;
    float: right; }
  .search-form.documents .search-input.datepicker {
    max-width: 85px; }

.document-footer .date {
  float: right; }

.document-footer .document-number {
  font-size: 13px;
  float: right;
  margin-right: 30px;
  margin-top: 4px; }

.document-footer .read-document {
  border: 1px solid #0b7dbc;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px; }

.document-footer .read-document:hover {
  background: #f1f2f4;
  text-decoration: none; }

.document-footer .download-document {
  padding: 5px;
  padding-left: 20px;
  font-size: 13px;
  padding-right: 20px;
  background: url(../images/download.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 13px;
  margin-left: 20px; }

.search-result.gallery .gallery-content {
  padding-left: 10px;
  padding-right: 10px;
  position: relative; }
  .search-result.gallery .gallery-content .metadata .camera-icon {
    width: 16px;
    margin-top: 1px; }
  .search-result.gallery .gallery-content .metadata > * {
    float: left;
    font-size: 13px;
    margin-top: 3px;
    line-height: 13px;
    margin-right: 8px;
    color: #8d9499; }
  .search-result.gallery .gallery-content a.title {
    display: block;
    margin-top: 20px; }
  .search-result.gallery .gallery-content .credentials {
    font-size: 13px;
    color: #8d9499;
    position: absolute;
    bottom: 10px; }

ul.pagination li {
  float: left;
  height: 36px;
  min-width: 40px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  font-family: Roboto;
  border: 1px solid #d6d6d6;
  background: #ffffff;
  margin-left: -1px; }

ul.pagination li a {
  display: block; }

ul.pagination li:hover {
  background: #f1f2f4; }

ul.pagination li.active {
  background: #0b7dbc; }

ul.pagination li.active a {
  color: #ffffff; }

ul.pagination li.last {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

ul.pagination li.first {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666; }

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; }

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #0b7dbc;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.gallery-images .col-1-3 {
  width: 33.33333%;
  padding: 10px; }

.gallery-images img {
  cursor: pointer; }

.gallery-images h2 {
  font-size: 25px !important;
  margin-bottom: 20px; }

.contact-form {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #f1f2f4;
  background: #ffffff;
  padding-bottom: 20px; }
  .contact-form .input {
    margin-left: 0px;
    margin-right: 0px; }
  .contact-form input {
    width: 90%; }
  .contact-form textarea {
    height: 90px;
    margin-bottom: 20px; }
  .contact-form label {
    font-size: 18px !important;
    display: block;
    margin-top: 20px;
    line-height: 26px; }
  .contact-form .btn-blue {
    height: 40px; }

@media screen and (max-width: 1366px) {
  .daily-news .news-item:nth-child(3) {
    display: none; } }

@media screen and (min-width: 1366px) {
  .daily-news .news-item:nth-child(2) {
    margin-right: 16px; } }

@media screen and (max-width: 1240px) {
  .article-right-column.latest-news .news-content-container {
    width: 100%;
    float: none; }
  .article-right-column.latest-news .news-item img {
    margin: 0 auto;
    margin-bottom: 10px;
    float: none;
    display: block; }
  .header .header-blocks.left div {
    display: none; }
  .menu {
    display: none; }
  .language-switcher {
    display: none; }
  .header .header-blocks.right {
    padding-right: 0px;
    float: none; }
  .header {
    display: flex;
    justify-content: space-between; }
  .slider {
    display: none; }
  .cols {
    flex-direction: column; }
  .daily-news .news-item {
    height: auto; }
  .cols .col-1-2 {
    margin-bottom: 20px; }
  .cols .col-1-3, .cols .col-2-3, .cols .col-1-2 {
    width: 100%; }
  .latest-news .news-col {
    padding-left: 0px;
    padding-right: 0px; }
  .latest-news .news-col > * {
    margin-left: 25px;
    margin-right: 25px; }
  .latest-news .news-col > .btn-blue {
    display: block; }
  .media-block {
    margin-top: 12px; }
  .anounces .anounce-item {
    padding-left: 0px;
    padding-right: 0px; }
  .anounces .anounce-item > * {
    margin-left: 25px;
    margin-right: 25px; }
  .header .logo {
    max-width: 100%;
    padding-left: 10px;
    border: none; }
  .header-blocks.left {
    max-width: calc(100% - 101px); }
  .daily-news .all-news {
    position: relative;
    top: -15px; }
  .daily-news .news-content-container .title {
    word-break: break-word; }
  .front-page-news-block {
    margin-bottom: 15px; }
  .section-title {
    margin-top: 10px;
    margin-bottom: 20px; }
  .latest-news .news-item img {
    width: 100%; }
  .latest-news .news-content-container {
    padding-left: 0px;
    width: 100%; }
  .article-right-column > * {
    margin-right: 30px;
    margin-left: 30px !important; }
  .contact-form .btn-blue {
    width: 100%; }
  .document-footer .read-document {
    display: block;
    text-align: center; }
  .document-footer .download-document {
    display: block;
    text-align: center;
    background: none;
    margin-left: 0px;
    margin-top: 5px;
    border: 1px solid black; }
  .document-footer .date {
    width: 100%;
    text-align: left;
    float: left; }
  .document-footer .document-number {
    float: left;
    margin-right: 0px;
    text-align: justify; }
  .search-result.gallery .gallery-content .credentials {
    position: initial; }
  .article .article-text blockquote .quote {
    display: none; }
  .article .article-text blockquote {
    padding: 20px; }
  .search-form .input-group {
    flex-direction: column; }
  .search-form .input-group > * {
    width: 100%; }
  .search-form button {
    margin: 0px; }
  .date-picker-x-container {
    position: initial; }
  .date-picker-x.active {
    left: 0px; }
  .date-picker-x::before {
    display: none; } }
